
body{
    background-color: cornsilk;
    background-image: url('record.png');
    background-repeat: repeat;
    margin: 0;
}

.stylishTitleBar{
    background-color: navy;
    color:cornsilk;
    text-align: center;
    border-style: double;
    border-width: 15px;
    border-radius: 30px;
}

.killerInfoSec{
    background-color: lightgray;
    padding: 1em;
    border-style: groove;
    border-width: 10px;
}

.sickFonts{
    font-family:fantasy;
    font-weight: bolder;
}
